.sticky-nav {
  position: sticky;
  top: 0;
  background-color: #000;
  color: #fff;
  padding: 15px;
  z-index: 999;
}

.sticky-nav .links li {
  display: inline-block;
  margin: 0 20px;
}

.sticky-nav .links li a {
  color: #fff;
  text-decoration: none;
}
